apiToken = '' # Your bot's Telegram API token
chatID = '' # Telegram chat ID

attempts = 3

web = [ # array of arrays what http(s) should be checked
    ['Google', 'https://google.com/', '</html>'], # Human readable name, URL, keyword or keyphrase
    ['Bing', 'https://bing.com/', 'search_icon'], # and another ...
]
